<section class="content">
	<section class="container">
		<section data-ng-controller="ProjectsController">
			<div class="page-header">
				<h1>New Projects</h1>
			</div>
				<div class="col-md-7">
				<form name="videoForm" class="form-horizontal" data-ng-submit="create()" novalidate>
					<fieldset>
						<div class="form-group">
							<label class="control-label" for="title">Title</label>
							<div class="controls">
								<input name="title" type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label" for="content">Videos</label>
							<div class="controls">
								<input type="file" type="text" id="files" multiple="multiple" ng-model="files">
								<ul>
									<li ng-repeat="file in files" ng-show="file.completed">
										<a ng-href="{{file.url}}" target="_blank">{{file.name}} completed</a>
									</li>
								</ul>
								<div class="progress" ng-repeat="file in files" ng-show="!file.completed">
									<div class="progress-bar" role="progressbar" aria-valuenow="{{file.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: file.progress">
										<span class="sr-only">{{file.progresss}}% completed</span>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label" for="content">Comments</label>
							<div class="controls">
								<textarea name="content" data-ng-model="content" id="content" class="form-control" cols="30" rows="7" placeholder="Content"></textarea>
							</div>
						</div>
						<div class="form-group">
							<input type="submit" class="btn btn-primary" value="Make Me A Hero Bro">
						</div>
						<div data-ng-show="error" class="text-danger">
							<strong data-ng-bind="error"></strong>
						</div>
					</fieldset>
				</form>
				</div>
			<div class="col-md-1"> </div>
			<div class="col-md-4">
				<h2>Create A Video</h2>
				<p>Upload your action cam footage, along with your chosen sound track, and the Bros will do the rest. </p>
				<p>Your video should be ready within 48 hours.</p>
				<h2>Payments</h2>
				<p>You can pay for your video at the end, once you've seen the final draft.</p>
			</div>
		</section>
	</section>
</section>
