<section id="index" data-ng-controller="HomeController">
	<div id="hero">
		<a class="slide-nav prev" href="#">Prev</a>
		<a class="slide-nav next" href="#">Next</a>
		<nav>
			<a class="active" href="#"></a>
			<a href="#"></a>
			<a href="#"></a>
		</nav>
		<div class="slides">
			<div class="slide first active">
				<div class="bg"></div>
				<div class="container">
					<div class="row">
						<div class="col-sm-6 info">
							<h1 class="hero-text">
								Make it awesome.
							</h1>
							<p>
								React is the best way to get a great design out of the box with lots of options for customization.
							</p>
							<div class="cta">
								<a href="features.html" class="button-outline">
									TRY IT FREE
									<i class="fa fa-chevron-right"></i>
								</a>
							</div>
						</div>
						<div class="col-sm-6 hidden-xs mobiles">
							<!-- <img src="images/static-hero.png" class="animated fadeInLeft" alt="devices" /> -->
							<img src="images/devices3.png" class="animated fadeInLeft img-responsive" alt="devices" />
						</div>
					</div>
				</div>
			</div>
			<div class="slide second">
				<div class="bg"></div>
				<div class="container">
					<h1 class="hero-text">Get the best technology videos online for free.</h1>
					<p class="sub-text">
						Using simple HTML markup, get a complete existing website with great design up and running in no time.
					</p>
					<div class="video-wrapper">
						<div class="video animated fadeInUp">
							<img src="images/player.png" id="demo-player" alt="videoplayer" />
						</div>
					</div>
				</div>
			</div>
			<div class="slide third">
				<div class="bg"></div>
				<div class="container">
					<h1 class="hero-text animated fadeInLeft">
						Track any data point in your app in real time.
					</h1>
					<p class="sub-text animated fadeInLeft">
						Try our 30 day trial so you can check out all the features that we offer, no contracts
						or credit card required.
					</p>
					<div class="cta animated fadeInRight">
						<a href="features.html" class="button-outline">See the tour</a>
						<a href="signup.html" class="button">Sign up free</a>
					</div>
				</div>
			</div>
		</div>

		<div class="video-modal">
			<div class="wrap">
				<iframe src="http://player.vimeo.com/video/22439234" width="620" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</div>
	</div>
</section>
<section class="content">
	<section class="container">

	</section>
</section>
