<section class="content">
	<section class="container">
		<section data-ng-controller="VideosController" data-ng-init="findOne()">
			<div class="page-header">
				<h1>Edit Video</h1>
			</div>
			<div class="col-md-12">
				<form name="videoForm" class="form-horizontal" data-ng-submit="update()" novalidate>
					<fieldset>
						<div class="form-group">
							<label class="control-label" for="title">Id</label>
							<div class="controls">
								<h2 data-ng-bind="video.id"></h2>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label" for="title">Title</label>
							<div class="controls">
								<input name="title" type="text" data-ng-model="video.title" id="title" class="form-control" placeholder="Title" required>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label" for="content">Videos</label>
							<div class="controls">
								<input type="file" type="text" id="files" multiple="multiple" ng-model="files">
								<progressbar class="progress-striped active" value="uploadProgress/uploadTotal*100" type="danger"><i>{{uploadProgress/uploadTotal*100 | number:0}}%</i></progressbar>
								<div ng-repeat="partition in video.partitions" ng-show="partition.status='completed'">
									<a ng-href="{{partition.resultPath}}" target="_blank">{{partition.originalFileName}}</a>

								</div>
							</div>
						</div>
						<div class="form-group">
							<input type="submit" value="Update" class="btn btn-default">
						</div>
						<div data-ng-show="error" class="text-danger">
							<strong data-ng-bind="error"></strong>
						</div>
					</fieldset>
				</form>
			</div>
		</section>
	</section>
</section>
