<section class="content">
	<section class="container">
		<section data-ng-controller="VideosController" data-ng-init="findOne()">
			<div class="page-header">
				<h1>Edit Video</h1>
			</div>
			<div class="col-md-7">
				<form name="videoForm" class="form-horizontal" data-ng-submit="update()" novalidate>
					<fieldset>
						<div class="form-group">
							<label class="control-label" for="title">Video Id</label>
							<div class="controls">
								<span data-ng-bind="video.id"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label" for="title">Title</label>
							<div class="controls">
								<input name="title" type="text" data-ng-model="video.title" id="title" class="form-control" placeholder="Title" required>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label" for="content">Videos</label>
							<div class="controls">
								<input type="file" multiple="multiple" ng-model="files" onchange="angular.element(this).scope().queue(this)">

								<div ng-repeat="partition in video.partitions">
									<a ng-href="{{partition.resultPath}}" target="_blank">{{partition.originalFileName}}</a>
									<!-- <div>{{partition.status}} {{partition.chunks}} {{partition.totalChunk}}</div> -->
									<progressbar ng-hide="partition.status == 'completed'" class="progress-striped active" value="partition.progress" type="danger"><i>{{partition.progress}}%</i></progressbar>
									<span ng-show="partition.status == 'completed'"> - completed</span>
									<!-- <input type="file" type="text" class="fileInput"> -->
								</div>

							</div>
						</div>
						<div class="form-group">
							<input type="submit" value="Update" class="btn btn-default">
							<a class="btn btn-primary" data-ng-click="remove();">
								<i class="glyphicon glyphicon-trash"></i>
							</a>
						</div>
						<div data-ng-show="error" class="text-danger">
							<strong data-ng-bind="error"></strong>
						</div>
					</fieldset>
				</form>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-4">
				<h2>Create A Video</h2>
				<p>Upload your action cam footage, along with your chosen sound track, and the Bros will do the rest. </p>
				<p>Your video should be ready within 48 hours.</p>
				<h2>Payments</h2>
				<p>You can pay for your video at the end, once you've seen the final draft.</p>
			</div>
		</section>
	</section>
</section>
