<section id="signup">
	<div class="container" data-ng-controller="AuthenticationController">
		<div class="row header">
			<div class="col-md-12">
				<h4>Sign Me Up Bro!</h4>
				<p>
					Create your account, then upload your footage
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="wrapper clearfix">
					<div class="formy">
						<div class="row">
							<div class="col-md-12">
								<form role="form" data-ng-submit="signup()">
									<div class="form-group">
										<label for="email">Email address</label>
										<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
									</div>
									<div class="form-group">
										<label for="password">Password</label>
										<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox"> You have read & agree to the
											<a href="#">Terms of service</a>.
										</label>
									</div>
									<div class="submit">
										<button type="submit" class="btn btn-large btn-primary">Let Me In Bro</button>
									</div>

									<div data-ng-show="error" class="text-center text-danger">
										<strong data-ng-bind="error"></strong>
									</div>

								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="already-account">
					Already have an account?
					<a data-ui-sref="authentication.signin">Sign in here</a>
				</div>
			</div>
		</div>
	</div>
</section>
