
body {
	background: #373737;
	color: #b7b7b7;
	font-family: roboto, 'helvetica neue'  sans-serif;
}

a {
  color: #e61e25;
}
a:hover {
  color: #ee151d;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
  font-weight: lighter;
  text-transform: uppercase;
  color: #b7b7b7;
}

p {
	color: #b7b7b7;	
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #474747;
}


.content {
	/* margin-top: 50px; */
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
	border-color:#FA787E;
}
.ng-valid.ng-dirty{
	border-color:#78FA89;
}

.header-profile-image {
	opacity: 0.8;
	height: 28px;
	width: 28px;
	border-radius: 50%;
	margin-right: 5px;
}

.open  .header-profile-image,
a:hover .header-profile-image {
	opacity: 1;
}

.user-header-dropdown-toggle {
	padding-top: 21px !important;
	padding-bottom: 21px !important;
}

/* SIGN IN VIEW */

#signup {
	background: transparent;
}

#signup .wrapper {
  border: 1px solid #666666;
  background: transparent;
}


/* FORMS */

.form-control {
	background-color: #b7b7b7;
	border: none;
}

label, #signup .wrapper .formy .form-group label {
  color: #b7b7b7;
  font-weight: lighter;
  letter-spacing: .05em;
  text-transform: uppercase;
}

::-webkit-input-placeholder {
   color: red;
}

:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

:-ms-input-placeholder {  
   color: red;  
}


/* BUTTONS */

.btn-primary {
	color: #ffffff;
	background: #e61e25;
	border: none;
	text-transform: uppercase;
	float: right;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{
	color: #ffffff;
	background: #ee151d;
	border: none;
	text-transform: uppercase;
}


/* NAVS */


.navbar-brand {
	background: #e61e25;
	padding: 10px;
	height: inherit;
}
.navbar-brand img {
	width: 80px;
}

.navbar.white .navbar-collapse .navbar-nav > li.active > a {
  background: none;
  color: #b7b7b7;
}
.navbar.white .navbar-collapse .navbar-nav > li > a .fa-chevron-down {
	margin-left: 0px;
}



ul.nav-pills li {
	border-bottom: 1px solid #474747;
}
.nav > li > a:hover, .nav > li > a:focus {
	background: #474747;
}

ul.nav-pills li.active a {
	background: transparent;
	border-left: 3px solid #e61e25;
	border-radius: 0;
}
.nav-pills > li > a {
  border-radius: 0px;
  color: #b7b7b7;
  font-weight: lighter;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background: transparent;
	color: #b7b7b7;
}

.navbar.white {
  background: #373737;
  box-shadow: none;
}

.navbar.white .navbar-collapse .navbar-nav > li > a {
	color: #b7b7b7;
}




.navbar.white .navbar-collapse .navbar-nav > li.open > a {
  background: #474747;
  color: #b7b7b7;
}
.dropdown-menu {
	background-color: #474747;
}
.dropdown-menu > li > a {
	color: #b7b7b7;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color: #676767;
	color: #cccccc;
}
.dropdown-menu .divider {
	background-color: #676767;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	background: transparent;
	border-left: 3px solid #e61e25;
	border-radius: 0;
}













